body {
  font-family: Courier, sans-serif;
}

.size-1 {
  font-size: 14px;
}
.size-2 {
  font-size: 16px;
}
.size-3 {
  font-size: 20px;
}
.size-4 {
  font-size: 24px;
}
.size-5 {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}
